<configuration>
    <system.webServer>
	    <rewrite>
		    <rules>
			    <rule name="sbstest.upc.org" stopProcessing="true">
				    <match url="(.*)" />
				    <action type="Redirect" url="http://www.upc.org/care/side-by-side1" appendQueryString="false" redirectType="Persistent" />
				    <conditions>
					    <add input="{HTTP_HOST}" pattern="sbstest\.upc\.org" />
			    </rule>
		    </rules>
	    </rewrite>        
    </system.webServer>
</configuration>
